/* Standard resets */
html, body {
	padding: 0;
	margin: 0;
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}
img { max-width: 100%; }
*, *::after, *::before { box-sizing: border-box; }
a { color: var(--link); text-decoration: none; }
a:hover { text-decoration: underline; }
body {
	font-family: {font:Body font}, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: {text:Font size};
	background-color: var(--bg-standard);
	color: var(--text-normal);
	overflow: hidden scroll;
	--banner-header: {color:Title if header is showing};
	--discord-blue: {color:Discord logo};
	--green: {color:Servers navbar};
	--hover: #fff;
}
h1, h2, h3, h4, h5, h6 { font-family: {font:Header font}, {font:Body font}, "Helvetica Neue", Helvetica, Arial, sans-serif; }
body.dark {
	--bg-standard: #36393f;
	--bg-dark: #202225;
	--header: {color:Dark mode headers and accent};
	--labels: #18191c;
	--sidebar: #2f3136;
	--blogname: #292b2f;
	--secondary: #b9bbbe;
	--text-normal: #dcddde;
	--text-muted: #72767d;
	--channels: #8e9297;
	--channels-hover: rgba(79,84,92,0.16);
	--channels-active: rgba(79,84,92,0.32);
	--link: {color:Dark mode links};
	--paginate: #40444b;
}
body.light {
	--bg-standard: #fff;
	--bg-dark: #e3e5e8;
	--header: {color:Light mode headers and accent};
	--labels: #fff;
	--sidebar: #f2f3f5;
	--blogname: #ebedef;
	--secondary: #4f5660;
	--text-normal: #2e3338;
	--text-muted: #747f8d;
	--channels: #6a7480;
	--channels-hover: rgba(116,127,141,0.08);
	--channels-active: rgba(116,127,141,0.24);
	--link: {color:Light mode links};
	--paginate: #ebedef;
}
body.dark strong, body.dark b { color: {color:Dark mode bold}; }
body.light strong, body.light b { color: {color:Light mode bold}; }
body.dark em, body.dark i { color: {color:Dark mode italics}; }
body.light em, body.light i { color: {color:Light mode italics}; }


#servers,
#pagehead,
#sidebar,
#navigate {
	position: fixed;
}
#servers {
	background-color: var(--bg-dark);
	padding: 0.25em 0 0.5em;
	overflow: hidden scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	left: 0;
	top: 0;
	height: 100%;
}
#servers::-webkit-scrollbar {
	display: none;
}
#servers a {
	--size: 3em;
	height: var(--size);
	width: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .2s;
	border-radius: 50%;
	background-color: var(--bg-standard);
	color: var(--green);
	margin: 0.5em 0.75em;
}
#servers a:first-child {
	color: var(--text-normal);
}
#servers hr {
	background-color: var(--header);
	opacity: 0.075;
	height: 2px;
	width: 2em;
	border-radius: 1px;
	border: none;
}
#servers a:hover,
#servers a:first-child:hover,
#servers a.active {
	background-color: var(--green);
	color: var(--hover);
	border-radius: 30%;
}
#servers a:first-child:hover,
#servers a:first-child.active {
	background-color: var(--discord-blue);
}
#servers a::before {
	content: "";
	position: relative;
	margin-right: -0.5em;
	left: -1.75em;
	display: block;
	border: 0.25em solid var(--header);
	border-radius: 0.25em;
	transition: .2s;
	opacity: 0;
	height: 0;
}
#servers a:first-child::before { left: -1.625em; }
#servers a:hover::before {
	opacity: 1;
	height: 0.75em
}
#servers a.active::before {
	opacity: 1;
	height: 2em;
}
.tippy-box[data-theme~="default"] {
	background-color: var(--labels);
	padding: 0.125em;
	border-radius: 0.25em;
	color: var(--header);
	filter: drop-shadow(0.125em 0.35em 0.5em #06060755);
}
.tippy-box[data-theme~="big"] { font-size: 1em; }
.tippy-box[data-theme~="default"] > .tippy-arrow::before {
	-webkit-transform:scale(0.7,0.7);
	-ms-transform:scale(0.7,0.7);
	transform:scale(0.7,0.7);
}
.tippy-box[data-theme~="default"][data-placement^="right"] > .tippy-arrow::before {
	border-right-color: var(--labels);
}
.tippy-box[data-theme~="default"][data-placement^="bottom"] > .tippy-arrow::before {
	border-bottom-color: var(--labels);
}
.tippy-box[data-theme~="default"][data-placement^="left"] > .tippy-arrow::before {
	border-left-color: var(--labels);
}
.tippy-box[data-theme~="default"][data-placement^="top"] > .tippy-arrow::before {
	border-top-color: var(--labels);
}

#sidebar {
	height: 100%;
	width: 15em;
	top: 0;
	margin-left: 4.5em;
	background-color: var(--sidebar);
	display: grid;
	grid-template-rows: auto 1fr auto;
}
#sidebar header, #sidebar header h1,
.middle, #channels, #channels a span,
.blogname div, .blogname div *,
.pagename, .pagename h2,
#navigate div > p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#sidebar header a { text-decoration: none; }
#sidebar header { box-shadow: var(--bg-dark) 0 1px 1px; }
#sidebar header h1 {
	color: var(--header);
	font-weight: 600;
	padding: 1em;
	font-size: 0.94em;
	position: relative;
	z-index: 1;
}
#sidebar header.banner { padding-bottom: 5.4375em; }
#sidebar header.banner img {
	position: absolute;
	width: 15em;
	height: 8.4375em;
	object-fit: cover;
	object-position: top;
	top: 0;
}
#sidebar header.banner h1 {
	color: var(--banner-header);
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),to(transparent));
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,transparent);
}
.middle {
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.middle::-webkit-scrollbar {
	padding: 1em 0.5em;
	font-size: 0.9em;
	text-align: center;
	white-space: normal;
}
#description {
	padding: 1em 0.5em;
	font-size: 0.9em;
	text-align: center;
	white-space: normal;
}
#description ol, #description ul { padding: 0 0 0 1em; margin: 0.5em 0; }
#description + #channels { padding-top: 0; }
#channels {
	display: flex;
	flex-direction: column;
	padding: 1em 0.5em;
}
#channels a {
	color: var(--channels);
	text-decoration: none;
	display: flex;
	align-items: center;
	margin: 0.0625em 0;
	padding: 0.3em 0.5em;
	border-radius: 0.25em;
	text-transform: lowercase;
}
#channels a svg {
	flex-shrink: 0;
	width: 1.25em;
	margin-right: 0.325em;
}
#channels a:hover span, #channels a.active span { color: var(--text-normal); }
#channels a:hover { background-color: var(--channels-hover); }
#channels a.active { background-color: var(--channels-active); }
.blogname {
	background-color: var(--blogname);
	{block:ShowAvatar}
	display: grid;
	grid-template-columns: 2em 1fr;
	column-gap: 0.5em;
	{/block:ShowAvatar}
	padding: 0.65em 0.5em;
	max-width: 100%;
	align-items: center;
}
.blogname img { height: 2em; width: 2em; }
img.circle { border-radius: 100%; }
img.square { border-radius: 0.15em; }
.blogname div .name {
	font-size: 0.875em;
	color: var(--header);
	font-weight: 600;
}
.blogname div p {
	color: var(--secondary);
	font-size: 0.75em;
}

.pagename, .icons, .icons a {
	display: flex;
	align-items: center;
}
#pagehead {
	background-color: var(--bg-standard);
	z-index: 5;
	height: 3em;
	width: calc(100% - var(--left));
	padding: 0 1em;
	margin-left: var(--left);
	top: 0;
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 1em; /* To make space for the tumblr controls */
	align-items: center;
	justify-content: space-between;
	box-shadow: var(--bg-dark) 0 1px 1px;
}
.pagename { position: relative; }
.pagename::after {
	content: "";
	position: absolute;
	right: 0;
	display: block;
	width: 1em;
	height: 3em;
	background: -webkit-gradient(linear,right,left,from(var(--bg-standard)),to(transparent));
	background: linear-gradient(270deg,var(--bg-standard) 0,transparent);
}
.pagename h2 { color: var(--header); font-weight: 600; text-transform: lowercase }
.pagename svg { color: var(--text-muted); margin-right: 0.5em; flex-shrink: 0;}
.pagename .tag::before, .pagename .tag::after, .pagename .search_query::before, .pagename .search_query::after { content: '"' ; }
.tmblr-iframe {
	z-index: 999999999!important;
	margin-top: 3em;
	opacity: 0;
	visibility: hidden;
	transition-property: opacity;
}
#tmblr-controls-toggle, .tmblr-iframe { transition: .3s; }
body.controls-click #tmblr-controls-toggle { transform: rotate(65deg); }
body.controls-click .tmblr-iframe {
	opacity: 1.0;
	visibility: visible;
}
.icons > *:not(:last-child) { margin-right: 1.25em; }
.icons svg { cursor: pointer; color: var(--secondary); }
.icons form { position: relative; }
.icons form input {
	border: none;
	background: var(--bg-dark);
	color: var(--text-normal);
	font-family: inherit;
	width: 10em;
	font-size: 0.9em;
	border-radius: 0.25em;
	padding: 0.25em 1.75em 0.25em 0.5em;
	transition: .2s;
}
.icons form input:focus, .icons form input:not(:placeholder-shown) { width: 16em; }
.icons form svg {
	position: absolute;
	right: 0.25em;
	width: 1em;
	color: var(--text-muted);
}
#navigate {
	width: calc(100% - var(--left));
	bottom: 0;
	left: var(--left);
	background-color: var(--bg-standard);
	z-index: 5;
}
#navigate > div {
	height: 2.75em;
	padding: 0 1em;
	margin: 0 1em 1.5em;
	border-radius: 0.5em;
	background-color: var(--paginate);
	color: var(--secondary);
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 0.5em;
	align-items: center;
}
#navigate > div > p { color: var(--text-muted); }
#navigate .paginate {
	display: flex;
	align-items: center;
}
.paginate a {  padding: 0.5em; margin: -0.5em; }
.paginate a:hover { filter: drop-shadow(0 0 0.25em var(--link)); }
.paginate .prev {
	-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);
}
.paginate .next {
	-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
			transform: rotate(-90deg);
	padding-left: 0.6em;
}
.paginate p {
	text-align: center;
	font-weight: 600;
}
.paginate p.curr::after {
	content: "/";
	margin: 0 0.25em;
}

#allposts { padding: 0.25em 0 1em; margin: 3em 0 4em var(--left); }
.post { padding: 0.5em 1em 0; margin: 0.5em 0; position: relative; }
#allposts > p { padding: 0 1em; margin: 1em 0; }
.post .body p { margin: 0.25em 0 0.5em; }
.post .body p:first-child { margin-top: 0; }
body.dark .post:hover, body.dark .post:hover .timestamp .date { background: #32353b; }
body.light .post:hover, body.light .post:hover .timestamp .date { background: #fafafa; }
.timestamp {
	font-weight: 600;
	font-size: 0.75em;
	text-align: center;
	position: relative;
	padding: 0.25em 0 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timestamp::before {
	content: "";
	display: block;
	width: 100%;
	border-top: thin solid {color:Timestamps and post divider};
	position: absolute;
	top: 1em;
}
.timestamp .date {
	color: {color:Timestamps and post divider};
	background-color: var(--bg-standard);
	position: relative;
	z-index: 1;
	padding: 0.125em 0.25em;
}
.timestamp .datelink {
	color: {color:Post divider More link};
	position: absolute;
	right: 0;
	top: 0.25em;
	display: flex;
	cursor: pointer;
	text-transform: uppercase;
}
.timestamp .datelink span {
	background: {color:Timestamps and post divider};
	padding: 0.125em 0.375em 0.125em 0;
	border-radius: 0 0.25em 0.25em 0;
}
.pinned {
	display: grid;
	grid-template-columns: 2.5em 1fr;
	column-gap: 1em;
	align-items: center;
}
.pinned svg { color: var(--secondary); justify-self: center; }
.pinned p { color: var(--channels); }
.post .username {
	font-weight: 500;
	color: var(--header);
}
.post .body { margin-top: 0.125em; }
.post .rb {
	display: grid;
	grid-template-columns: 2.5em 1fr;
	column-gap: 1em;
	padding: 0.5em 0;
	margin: 0.5em 0;
}
.tag-wrapper { padding-bottom: 0.5em; margin-left: 3.5em; }
.tag-wrapper .tag {
	border: 1px solid transparent;
	border-radius: 0.5em;
	display: inline-flex;
	column-gap: 0.375em;
	align-items: first baseline;
	padding: 0.25em 0.375em;
	margin: 0 0.25em 0.25em 0;
	background-color: var(--sidebar);
	color: var(--secondary);
}
.tag-wrapper .tag:hover { text-decoration: none; background-color: var(--bg-standard); border-color: #fff3; }
.tag-wrapper .tag svg { flex-shrink: 0; padding-top: 0.125em;}
#customlike { position: relative; }
#customlike .like_button .like_toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0
}
.post .actions {
	background-color: var(--bg-standard);
	display: inline-flex;
	border-radius: 0.25em;
	box-shadow: 0 0 0.125em var(--blogname), 0 0.25em 0.25em var(--blogname);
	overflow: hidden;
	position: absolute;
	bottom: -0.5em;
	right: 1em;
	z-index: 1;
}
.post:not(:hover) .actions {
	opacity: 0;
	pointer-events: none;
}
.post .actions a, .post .actions .notecount { height: 32px; padding: 6px; color: var(--secondary) }
.post .actions a { width: 32px; }
.post .actions a:hover { background: var(--channels-hover); }
#customlike .like_button.liked ~ svg { color: #ed4245; }

blockquote { padding: 0 0.5em 0.125em 0.875em; position: relative; }
blockquote::before {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	border: 0.125em solid;
	opacity: 0.25;
	border-radius: 0.25em;
}



@media (min-width: 800px) {
	body { --left: 19.5em; }
	#servers .more { display: none; }
}
@media (max-width: 800px) {
	body { --left: 4.5em; }
	#servers .more {
		cursor: pointer;
	}
	#servers .more svg { transition: .3s; }
	#servers .more.active svg {
		transform: rotate(135deg);
	}
	#sidebar {
		transition: .3s;
		z-index: 9;
	}
	#sidebar:not(.active) { opacity: 0; pointer-events: none; }
}