/* Standard resets */
html, body {
	padding: 0;
	margin: 0;
	line-height: 1.2;
}
h1, h2, h3, h4, h5, h6, p {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}
img {
	max-width: 100%;
}
*, *::after, *::before {
	box-sizing: border-box;
}
/* Actual styling */
body {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	display: grid;
	grid-template-columns: auto 15em 1fr;
	grid-template-rows: 100vh;
	background-color: var(--bg-standard);
	color: var(--text-normal);
	overflow: hidden;
	--banner-header: #000;
	--discord-blue: #5865f2;
	--green: #3ba55d;
	--hover: #fff;
}
body.dark {
	--bg-standard: #36393f;
	--bg-dark: #202225;
	--server-separator: #ffffff0f;
	--header: #fff;
	--labels: #18191c;
	--sidebar: #2f3136;
	--blogname: #292b2f;
	--usertag: #b9bbbe;
	--text-normal: #dcddde;
	--channels: #8e9297;
	--channels-hover: rgba(79,84,92,0.16);
	--channels-active: rgba(79,84,92,0.32);
}
body.light {
	--bg-standard: #fff;
	--bg-dark: #e3e5e8;
	--server-separator: #06060714;
	--header: #060607;
	--labels: #fff;
	--sidebar: #f2f3f5;
	--blogname: #ebedef;
	--usertag: #4f5660;
	--text-normal: #2e3338;
	--channels: #6a7480;
	--channels-hover: rgba(116,127,141,0.08);
	--channels-active: rgba(116,127,141,0.24);
}
#servers {
	background-color: var(--bg-dark);
	padding: 0.25em 0 0.5em;
	overflow: hidden scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
#servers::-webkit-scrollbar {
	display: none;
}
#servers a {
	--size: 3em;
	height: var(--size);
	width: var(--size);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .2s;
	border-radius: 50%;
	background-color: var(--bg-standard);
	color: var(--green);
	margin: 0.5em 0.75em;
}
#servers a:first-child {
	color: var(--text-normal);
}
#servers hr {
	background-color: var(--server-separator);
	height: 2px;
	width: 2em;
	border-radius: 1px;
	border: none;
}
#servers a:hover,
#servers a:first-child:hover,
#servers a.active {
	background-color: var(--green);
	color: var(--hover);
	border-radius: 30%;
}
#servers a:first-child:hover,
#servers a:first-child.active {
	background-color: var(--discord-blue);
}
#servers a::before {
	content: "";
	position: relative;
	margin-right: -0.5em;
	left: -1.75em;
	display: block;
	border: 0.25em solid var(--header);
	border-radius: 0.25em;
	transition: .2s;
	opacity: 0;
	height: 0;
}
#servers a:first-child::before { left: -1.625em; }
#servers a:hover::before {
	opacity: 1;
	height: 0.75em
}
#servers a.active::before {
	opacity: 1;
	height: 2em;
}
#servers a label {
	position: absolute;
	white-space: nowrap;
	left: 5em;
	background-color: var(--labels);
	padding: 0.5em 0.75em;
	border-radius: 0.25em;
	color: var(--header);
	transition: .2s;
	filter: drop-shadow(0.125em 0.35em 0.5em #06060755);
	z-index: 999;
}
#servers a label::before {
	--length: 4px;
	content: "";
	display: block;
	border: var(--length) solid transparent;
	border-right-color: var(--labels);
	position: absolute;
	left: calc(-2 * var(--length));
	top: calc(50% - var(--length));
}
#servers a:not(:hover) label {
	pointer-events: none;
	opacity: 0;
}

#sidebar {
	background-color: var(--sidebar);
	display: grid;
	grid-template-rows: auto 1fr auto;
}
#sidebar header, #sidebar header h1,
#channels, #channels a span,
.blogname div, .blogname div *{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#sidebar header { box-shadow: var(--bg-dark) 0 1px 1px; }
#sidebar header h1 {
	color: var(--header);
	font-weight: 600;
	padding: 1em;
	font-size: 0.94em;
	position: relative;
	z-index: 1;
}
#sidebar header.banner { padding-bottom: 5.4375em; }
#sidebar header.banner img {
	position: absolute;
	width: 15em;
	height: 8.4375em;
	object-fit: cover;
	object-position: top;
	top: 0;
}
#sidebar header.banner h1 {
	color: var(--banner-header);
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.4)),to(transparent));
	background: linear-gradient(180deg,rgba(0,0,0,.4) 0,transparent);
}
#channels {
	display: flex;
	flex-direction: column;
	padding: 1em 0.5em;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
#channels::-webkit-scrollbar {
	display: none;
}
#channels a {
	color: var(--channels);
	text-decoration: none;
	display: flex;
	align-items: center;
	margin: 0.0625em 0;
	padding: 0.3em 0.5em;
	border-radius: 0.25em;
	text-transform: lowercase;
}
#channels a svg {
	flex-shrink: 0;
	width: 1.25em;
	margin-right: 0.325em;
}
#channels a:hover span, #channels a.active span { color: var(--text-normal); }
#channels a:hover { background-color: var(--channels-hover); }
#channels a.active { background-color: var(--channels-active); }
.blogname {
	background-color: var(--blogname);
	display: grid;
	grid-template-columns: 2em 1fr;
	column-gap: 0.5em;
	padding: 0.65em 0.5em;
	max-width: 100%;
	align-items: center;
}
.blogname img { height: 2em; width: 2em; }
img.round { border-radius: 100%; }
.blogname div h2 {
	font-size: 0.875em;
	color: var(--header);
	font-weight: 600;
}
.blogname div p {
	color: var(--usertag);
	font-size: 0.75em;
}


@media (min-width: 800px) {
	#servers .more { display: none; }
}
@media (max-width: 800px) {
	#servers .more {
		cursor: pointer;
	}
	#servers .more svg { transition: .3s; }
	#servers .more.active svg {
		transform: rotate(135deg);
	}
	body { grid-template-columns: auto 1fr; }
	#sidebar {
		transition: .3s;
		width: 15em;
		height: 100vh;
		position: absolute;
		left: 4.5em;
	}
	#sidebar:not(.active) { opacity: 0; pointer-events: none; }
}